#login_box { width: 429px; margin: 0 auto; }
#login_title { margin: 50px 0 0 0; padding-bottom: 5px;	border-bottom: solid 2px #ffbe10; }
#login_title span {	font-size: 20px; font-weight: bold; }
#login_form { margin-top: 20px; }
#login_form li { margin-top: 10px; }
#login_form input {	width: 100%; height: 47px; }
#login_form #login_btn { margin-top: 15px; margin-bottom: 50px; }