header.masthead {
  padding-top: 30rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../img/hansung_studycafe.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
body{
  height : 200vh;
  background-image: url("../img/cool-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#nav{
    background-color: #F3EADA;
}
#mid{
    background-color: #e8f8f5;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}
